<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784532664272-dsd8lai548ojpbon6bjt2jhu7c6pdiov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784532664272-dsd8lai548ojpbon6bjt2jhu7c6pdiov</string>
	<key>API_KEY</key>
	<string>AIzaSyC720mVX59pomc_35jNw-Q-OMxEHX8WxD0</string>
	<key>GCM_SENDER_ID</key>
	<string>784532664272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ztursunov.bookCrosser</string>
	<key>PROJECT_ID</key>
	<string>bookcrosser-69791</string>
	<key>STORAGE_BUCKET</key>
	<string>bookcrosser-69791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784532664272:ios:d574409638f864732dd3d5</string>
</dict>
</plist>